extends layout

block content
  h2= 'Anemia : Here are some aliments full of iron!'
  ul
    each solution in anemia
      li= solution.type + ': ' + solution.name
  a(href='/anemia/add') Add new anemia solution