extends layout

block content
  div.well
    h2= 'Do you know how to deal with these ?'
    p Click on any to learn more

    a(href="/anemia") Anemia
    br
    a(href="/insomnia") Insomnia
    br
    a(href="/libido") Libido

